* {
    margin: 0;
    padding: 0;
    background-color: rgb(39, 65, 65);
    text-align: -webkit-center;
}
.image-wrapper {
    border: 3px solid rgb(201, 201, 201);
    border-radius: 10px;
    box-shadow: 0 0px 18px 2px rgba(0, 0, 0, 1.0);
    min-width: 275px;
    width: 50vw;
    margin: 40px 20px 20px 20px;
    position: relative;
    z-index: 9999;
}
.image-wrapper > h2 {
    color: rgb(201, 201, 201);
    margin: 20px 0 0 0;
}
.image-container {
    border-top: 1px solid rgb(201, 201, 201);
    overflow: hidden;
    margin: 20px 55px 40px 55px;
    padding-top: 20px;
}
.slider-arrows {
    background: none;
    font-size: xx-large;
    border: none;
    cursor: pointer;
    color: rgb(201, 201, 201);
    position: absolute;
    top: 45%;
    z-index: 9999;
}
.slider-arrows:hover {
    color: white;
}
.slider-arrows.right {
    right: 1rem;
}
.slider-arrows.left {
    left: 1rem;
}
.slider-arrows:active {
    transform: translateY(1px);
}
.carousel-dots {
    z-index: 9999;
}
.nav-dots {
    display: none;
}
.nav-dots + label {
    z-index: 9999;
    position: relative;
    cursor: pointer; 
    bottom: 1rem;
    display: inline-block;
    border: 2px solid rgb(201, 201, 201);
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
.nav-dots + label:hover {
    border: 2px solid white;
}
.nav-dots:checked + label {
    border: 2px solid white;
    background: rgb(218, 219, 219);
}
.images {
    display: none;
    border-radius: 5px;
    border: 3px solid rgb(204, 204, 204);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 1.0);
    margin: 3px;
    height: 100%;
    width: 33rem;
}
.images.active {
    display: block;
}